{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed">
    <div class="m-header">
        <img src="https://aamarpay.com/images/logo/aamarpay_logo.png" alt="" class="logo" style="max-width: 140px;">
    </div>
    <ul class="navbar-nav ml-auto">
        <li>
            <div class="dropdown drp-user">
                <a href="{% url 'logout' %}">
                    Log Out
                </a>
            </div>
        </li>
    </ul>
</header>

{% if can_upload %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="upload-container">
            <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Upload Your File</h4>
                <div class="file-input-wrapper">
                    <label for="file-upload" class="custom-file-upload">
                        Choose File
                    </label>
                    <input type="file" id="file-upload" name="file" accept=".txt,.docx">
                    <span id="file-name">No file chosen</span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Upload</button>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="table-border-style m-3">
            <h5>Uploaded Files</h5>
            <div class="table-responsive">
                <div class="customer-scroll" style="max-height:420px;position:relative;">
                    <table class="table table-bordered table-hover " id="">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Filename</th>
                                <th>File Path</th>
                                <th>Status</th>
                                <th>Word Count</th>
                                <th>Upload Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ file.filename }}</td>
                                <td style="word-break: break-word;">{{ file.file }}</td>
                                <td>
                                    <span class="status-badge
                                            {% if file.status == 'completed' %}
                                                status-success
                                            {% elif file.status == 'failed' %}
                                                status-failed
                                            {% elif file.status == 'processing' %}
                                                status-pending
                                            {% else %}
                                                status-other
                                            {% endif %}"
                                    >
                                    {{ file.status }}
                                </span>
                                </td>
                                <td>{{ file.word_count }}</td>
                                <td>{{ file.upload_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="table-border-style m-3">
            <h5>Payment History</h5>
            <div class="table-responsive">
                <div class="customer-scroll" style="max-height:420px;position:relative;">
                    <table class="table table-bordered table-hover " id="">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Transaction ID</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Completed At</th>
                                <th>Initiate At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.transaction_id }}</td>
                                <td>{{ payment.amount }}</td>
                                <td>
                                    <span class="status-badge
                                            {% if payment.status == 'success' %}
                                                status-success
                                            {% elif payment.status == 'failed' %}
                                                status-failed
                                            {% elif payment.status == 'pending' %}
                                                status-pending
                                            {% else %}
                                                status-other
                                            {% endif %}"
                                        >
                                        {{payment.status }}
                                    </span>
                                </td>
                                <td>{{ payment.completed_at }}</td>
                                <td>{{ payment.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="table-border-style m-3">
            <h5>Activity Logs</h5>
            <div class="table-responsive">
                <div class="customer-scroll" style="max-height:420px;position:relative;">
                    <table class="table table-bordered table-hover " id="">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Action</th>
                                <th>Description</th>
                                <th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ log.action }}</td>
                                <td>{{ log.description }}</td>
                                <td>{{ log.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block js%}
<script>
    document.getElementById('file-upload').addEventListener('change', function () {
        const fileName = this.files.length > 0 ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });
</script>
{% endblock %}