{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row align-items-center text-center">
    <div class="col-md-4"></div>
    <div class="card col-md-4 mt-5">
        <div class="card-body">
            <h4 class="mb-3 f-w-400">Registration</h4>
            <form action="{% url 'signup' %}" method="post">
                 {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="Email address" required>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input type="password" name="re-password" class="form-control" placeholder="Confirm Password"
                        required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
            </form>
            <p class="mb-2">Already have an account? <a href="{% url 'login' %}" class="f-w-400">Signin</a></p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}